Source: check-ruckus-vsz
Section: python
Priority: optional
Maintainer: Dr. Torge Szczepanek <debian@cygnusnetworks.de>
Build-Depends: debhelper (>= 9), python3-all, python3-setuptools, dh-python
Standards-Version: 3.9.6

Package: check-ruckus-vsz
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Ruckus SCG Nagios check
 Nagios/Icinga Plugin for Ruckus Virtual Smartzone systems
 using SNMP to query the device.
